body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Archivo", sans-serif;
  font-weight: 100;
}

.full-page-su {
  width: 100vw;
  height: 800px;
  position: relative;
}

.top-su {
  width: 100%;
  height: 80%;
  background-color: #020b4a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.bottom-su {
  width: 100%;
  height: 20%;
}

.app-example {
  background-image: url("../../assests/app-example.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 750px;
  height: 450px;
  position: absolute;
  top: 60%;
  left: 50%;
  border-radius: 3%;
  transform: translate(-50%, -50%);
}

.top-su > h2 {
  font-size: 40px;
  color: #fff;
}

.top-su > p {
  font-size: 15px;
  color: #fff;
}

.goal-input {
  margin-top: 10px;
}

.goal-input > input {
  width: 300px;
  height: 20px;
  background-color: #02072f;
  padding: 10px;
  color: #fff;
  border: none;
  outline: none;
}

.goal-input > button {
  height: 40px;
  width: 100px;
  padding: 10px;
  background-color: #7d88c7;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* info page css */

.info-page {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-grip-lines-vertical {
  position: absolute;
  margin-top: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  top: 0;
  font-size: 50px;
  color: #7d88c7;
}

.slideshow-container {
  width: 80%;
  height: 80%;
  position: relative;
}

.info-holder {
  background-color: #7d88c7;
  height: 100%;
  display: flex;
}

.left-info {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-info > h2 {
  line-height: 1px;
  margin-left: 50px;
}

.left-info > h2:first-child {
  color: #fff;
}

.image-slide-holder {
  width: 36%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slide-01 {
  background-image: url("../../assests/inspire-cartoon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 50%;
}

.right-info {
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.right-info > p {
  font-size: 12px;
  color: #fff;
  margin-left: 50px;
}
.info-holder2 {
  background-color: #fbb6c1;
  height: 100%;
  display: flex;
}
.image-slide-02 {
  background-image: url("../../assests/think-goal.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 50%;
}

.info-holder3 {
  background-color: #020b4a;
  height: 100%;
  display: flex;
}

.image-slide-03 {
  background-image: url("../../assests/Group-community.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 50%;
}

.image-slide-03 h2 {
  color: #fff;
}

.left-info3 {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-info3 > h2 {
  line-height: 1px;
  margin-left: 50px;
  color: #fff;
}

/* slide show */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mySlides {
  height: 100%;
  width: 100%;
  display: none;
}

/* features page */

.features-full-page {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-full-page > h2 {
  font-weight: bolder;
  font-size: 30px;
  font-weight: 900;
}

.feature-holder {
  width: 80%;
  height: 500px;
  background-color: #fff;
  display: flex;
}

.feature-left {
  width: 33%;
  height: 100%;
}

.feature-mid {
  height: 100%;
  width: auto;
}

.feature-right {
  width: 33%;
  height: 100%;
}

/* LEFT */

.FL-upper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FL-bottom {
  width: 100%;
  height: 50%;
  display: flex;
}

.fa-bullseye {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #7d88c7;
}

.FL-upper > h2 {
  color: black;
  font-weight: 900;
}

.FL-upper > p {
  color: black;
  font-size: 12px;
  font-weight: 100;
  width: 60%;
  word-wrap: break-word;
}

.FL-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-project-diagram {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #7d88c7;
}

.FL-bottom > h2 {
  color: black;
}

.FL-bottom > p {
  color: black;
  font-size: 12px;
  width: 60%;
  word-wrap: break-word;
}

/* MID */

.FM-upper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-book {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #7d88c7;
}

.FM-upper > h2 {
  color: black;
}

.FM-upper > p {
  color: black;
  font-size: 12px;
  width: 60%;
  word-wrap: break-word;
}

.FM-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-tasks {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #7d88c7;
}

.FM-bottom > h2 {
  color: black;
}

.FM-bottom > p {
  color: black;
  font-size: 12px;
  width: 60%;
  word-wrap: break-word;
}

/* RIGHT */

.FR-upper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-link {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #7d88c7;
}

.FR-upper > h2 {
  color: BLACK;
}

.FR-upper > p {
  color: BLACK;

  font-size: 12px;
  width: 60%;
  word-wrap: break-word;
}

.FR-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-address-card {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #7d88c7;
}

.FR-bottom > h2 {
  color: black;
}

.FR-bottom > p {
  color: black;
  font-size: 12px;
  width: 60%;
  word-wrap: break-word;
}
